<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773173244903-8qj44tpes00mjc8rln5ckbabme2v4rv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773173244903-8qj44tpes00mjc8rln5ckbabme2v4rv7</string>
	<key>API_KEY</key>
	<string>AIzaSyCU7flQFpir8BkMRqoXYu1Ua4tTlwZFfvc</string>
	<key>GCM_SENDER_ID</key>
	<string>773173244903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikolas.www.Uber</string>
	<key>PROJECT_ID</key>
	<string>uber-98730</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-98730.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773173244903:ios:b59c05243306f2231c4342</string>
</dict>
</plist>